.wrapItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 320px;
  max-width: 480px;
  width: 100%;
  height: auto;
  gap: 4px;
  padding: 60px 2px;
}
.imgList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 4px;
}
.wrapImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.boxPrice {
  right: 0;
  bottom: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 12px 16px 12px 24px;
}
.boxPrice > h3 {
  font-family: var(--font-montserrat);
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1.25;
  font-style: italic;
  color: #ffffff;
}
.imgBasic {
  display: flex;
  width: 100%;
  height: auto;
}
.wrapNotes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.notes {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 16px;
}
.discount {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.discount > h3 {
  font-family: var(--font-montserrat);
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1.25;
  font-style: italic;
  color: #ff2f00;
  border-radius: 8px;
  backdrop-filter: blur(7px);
  padding: 4px;
}
.discount > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
  width: 120px;
  height: 120px;
  color: #ff2f00;
  border-radius: 50%;
  backdrop-filter: blur(7px);
}
.value {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-montserrat);
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
  width: auto;
  height: auto;
  color: #ff2f00;
  border-radius: 8px;
  backdrop-filter: blur(7px);
  padding: 4px;
}
.blockDiscont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px 8px;
}
.blockDiscont > svg {
  stroke: #ff2f00;
  width: 40px;
  height: 40px;
}
.blockDiscont > p {
  font-family: var(--font-montserrat);
  font-size: 28px;
  font-weight: 800;
  font-style: italic;
  color: #ff2f00;
}
@media screen and (min-width: 420px) {
  .blockDiscont > svg {
    width: 48px;
    height: 48px;
  }
  .blockDiscont > p {
    font-size: 40px;
  }
}
.noteList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  gap: 8px;
}
.wrapNote {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}
.noteTitle {
  font-family: var(--font-open-sans);
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  padding: 8px;
}
.note {
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  padding: 8px;
}
.note > span {
  color: #ff2f00;
}
.wrapDescript {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.descript {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  width: 100%;
}
.iconMark {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconMark > svg {
  width: 28px;
  height: 28px;
  fill: #2ed020;
}
.iconWarn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWarn > svg {
  width: 28px;
  height: 28px;
  fill: #ffc107;
}
.slidesBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 20px 8px;
}
.selectList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}
.selectWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectInput {
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  outline: none;
  cursor: pointer;
}
.selectInput:checked {
  border: 2px solid #ff2f00;
}
.slidesWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.wrapper {
  display: block;
  width: 280px;
  height: auto;
  margin: auto;
}
.wrapperNone {
  display: none;
}
.wrapCall {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 4px;
}
.icon {
  width: 36px;
  font-size: 36px;
  fill: currentColor;
}
.call {
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.25;
}
.btnOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 380px;
  height: 48px;
  background-color: white;
  font-family: var(--font-montserrat);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5;
  border-radius: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.btnOrder:hover {
  transform: scale(1.05);
}
.any {
  display: block;
}
